  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: black;
    display: grid;
    grid-template-columns: 2.8fr 6fr 4fr;
}
/*NAV BAR-------------------------------- */
nav {
    color: white;
    height: 100vh;
    border-right: 1px rgb(47, 51, 54) solid;
    font-size: 1.4rem;
    padding: 0;
    align-items: baseline;
    position: sticky;
    top: 0;
    box-sizing: border-box;
}

.logo {
    width: 5rem;
}

nav ul {
    display: flex;
    flex-direction: column;
    height: 99%;
    margin-left: 2rem;
}

nav li {
    display: flex;
    justify-content: flex-start;  
    cursor: pointer; 
    margin: 0 auto 0 0 ;
    height: 6.5vh;
    align-items: center;
    padding: 10px;
    transition: background-color 0.2s;
    border-radius: 20px;
    margin-left: 1rem;
}

nav li:hover {
    background-color: rgb(29, 29, 29);
}

nav li i {
    margin-right: 1.5rem;
}

.nav_post {
    border-radius: 30px;
    height: 7vh;
    width: 15rem;
    margin: 5px auto 0;
    background-color: rgb(0, 132, 255);
    padding: auto;
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}

.nav_post:hover {
    background-color: rgb(1, 107, 206);
}

.nav_account {
    height: 7vh;
    width: auto;
    margin-top: auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.User_info {
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.User_img {
    width: 2.5rem;
    height: 2.5rem;
    background-color: aqua;
    border-radius: 50px;
    padding: 0;
    margin: 5px;
}

.User_name {
    font-size: 1.2rem;
}

.User_Search {
    font-size: 1rem;
    color: rgb(47, 51, 54);
}

.nav_account i {
    margin-left: 3rem;
}


/*MAIN CONTENT----------------------------------------*/     

.Home{
    height: 20vh;
    border-bottom: solid 1px rgb(47, 51, 54);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
}

.Home main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    margin-top: 1.7rem;
}

.Home-Btn:hover {
    background-color: rgb(47, 51, 54);
}

.Home-Btn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    flex-direction: column;
}

.Home-Btn a {
    color: rgb(29, 29, 29);
    text-decoration: none;
    height: 5.1rem;
    display: flex;
    align-items: center;
}

#LinkActive {
    color: white;
    height: 5.1rem;
    display: flex;
    align-items: center;
}
#LinkShowActive {
    width: 30%;
    height: 0.3rem;
    background-color: rgb(0, 132, 255);
    border-radius: 10px;
}
#LinkShowOff {
    display: none;
    width: 30%;
    height: 0.3rem;
    background-color: rgb(0, 132, 255);
    border-radius: 10px;
}


/*CARD POST--------------------------------------------------------------*/

.Post_Card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid rgb(47, 51, 54);
    margin-top: -1px;
}

.Post_Card_header {
    width: 100%;
    padding: 10px;
    color: white;
    display: flex;
}

.Post_Card_header img {
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
}

.Post_Card_header-user {
    margin: 0.2rem 0 0 0.2rem;
}

.Post_Card_header-userS {
    color: rgb(47, 51, 54);
    margin: 0.2rem 0 0 0.2rem;
}

.Post_Card_img  {
    width: 100%;
    height: 35rem;
    display: flex;
    justify-content: center;
}

.Post_Card_img  img{
 width: 35rem;
 height: 35rem;
 border-radius: 20px;
}

.Post_Card_interaction{
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

/*ASIDE----------------------------------------*/  
aside {
    border-left: solid 1px rgb(47, 51, 54);
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: flex-start;
    box-sizing: border-box;
    margin-right: 3rem;
}

.Search {
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    background-color: rgb(22, 24, 28);
    border-radius: 40px;
    display: flex;
    align-items: center;
    padding: 10px;
    border: solid 0.15rem transparent;
    color: #5b5f67;
}
.Search:focus-within {
    background-color: black;
    border: solid 0.15rem rgb(0, 132, 255);
    transition: ease
}

.Search i {
    font-size: 3vh;
    margin-right: 10px;
}

.Search:focus-within {
    color: rgb(0, 132, 255);
    transition: ease
}

.Search input {
    background-color: rgb(22, 24, 28);
    height: 100%;
    width: 100%;
    color: white;
    border: none;
}

.Search input:focus{
    outline: none;
    background-color: rgb(0, 0, 0);
}

.Hag{
    height: 25vh;
    background-color: rgb(22, 24, 28);
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 1.5vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.SusBtn {
    height: 5vh;
    background-color: rgb(0, 132, 255);
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 10px 20px ;
    justify-content: center;
    transition: 0.2s;
    font-weight: bolder;
}

.SusBtn:hover {
    cursor: pointer;
    background-color: rgb(1, 107, 206);
}

.NewContent{
    width: 100%;
    background-color: rgb(22, 24, 28);
    border-radius: 20px;
    color: white;
}

.NewContent_title {
    padding: 1rem;
    font-weight: bold;
    font-size: large;
}

.NewContent section:hover {
    background-color: rgb(47, 51, 54);
}

.NewContent section {
    width: 100%;
    height: 5rem;
    padding: 1rem;
    cursor: pointer;

}

.NewContent section header {
    font-weight: lighter;
    font-size: small;
    color: rgb(101, 104, 105);
    display: flex;
    justify-content: space-between;
}

.NewContent section main {
    font-weight: medium;
}

.NewContent section footer {
    font-weight: lighter;
    font-size: small;
    color: rgb(101, 104, 105);
}

.Showmore {
    cursor: pointer;
    padding: 10px;
    border-radius: 0 0 20px 20px;
}
.Showmore a{
    color: rgb(0, 132, 255);
    text-decoration: none;
    font-weight: 300;
}

.Showmore:hover {
    background-color: rgb(47, 51, 54);
}

.Follow {
    width: 100%;
    background-color: rgb(22, 24, 28);
    border-radius: 20px;
    margin: 1rem 0 0.2rem 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.Follow header {
    font-weight: 900;
    padding: 5px 20px;
    font-size: x-large;
}

.Follow article {
    display: flex;
    height: 4rem;
    padding: 10px;
    transition: 0.4s ease-in-out;
}

.Follow article:hover {
    background-color: rgb(47, 51, 54);
    cursor: pointer;
}

.Follow article section {
    display: flex;
    flex-direction: column;
    color: #5b5f67;
    margin-left: 0.3rem;
}

.Follow-user {
    color: white; 
}

.Follow img {
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
}

.Follow article a {
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 5px 20px;
    height: 4vh;
    border-radius: 50px;
    margin-left: auto;
}

.Follow footer{
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 0 0 20px 20px;
}

.Follow footer:hover {
    background-color: rgb(47, 51, 54);
}

.Follow footer a {
    color: rgb(0, 132, 255);
    text-decoration: none;
    font-weight: 300;
}


/* FOOTER ------------------------------------------------------------*/

footer {
    color: rgb(47, 51, 54);
    font-weight: bold;
}

footer ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

footer li {
    list-style: none;
    margin-right: 10px;
    font-size: 1.9vh;
    cursor: pointer;
}

footer li:hover {
    text-decoration:underline;
}